click==7.1.2
dnspython==2.8.0
email-validator==2.3.0
Flask==1.1.4
flask-mongoengine==1.0.0
Flask-WTF==1.2.2
idna==3.11
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==2.0.1
mongoengine==0.29.1
numpy==2.3.5
pandas==2.3.3
pymongo==4.15.4
python-dateutil==2.9.0.post0
pytz==2025.2
six==1.17.0
tzdata==2025.2
Werkzeug==1.0.1
WTForms==3.2.1
